.jumbotron {
  background: #129793;
  color: #129793;
  padding-top:40px;
  padding-bottom: 40px; 
  font-family: Sans-Serif;
  margin-top: -10px;
  margin-bottom: 0px;
  width: 100%;
  position:fixed;

}

.jumbotron h1 {
	text-align: center;
	color: white;
	font-size: 60px;
}

body {
  background-color: white;
}

p {
  font-family: Sans-Serif;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#messagesDiv {
	position: relative;
	text-align: center;
	font-size: 0px;
	font-family: sans-serif;
	padding-bottom: 110px;
	top: 210px;
	/*height: 300px;*/
	z-index: -2;
	padding-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 70%;
  margin-bottom:20px;
  font-size: 20px;
  position: fixed;
  bottom: 1%;
  left: 15%;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #129793;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    position:fixed;
    top: 250px;
    text-align: right;
    float: right;
}

.button:hover {
    background-color: #129793; /* Teal */
    color: white;
}

.footer {
	color: white;
	background: white;
	position: fixed;
	padding-bottom: 50px;
	padding-top:50px;
	z-index: -1;
	bottom: 0%;
	width: 100%;
	border-top: medium #129793;
	border-style: solid;
}