.jumbotron {
  background: #129793;
  color: white;
  padding-top:40px;
  padding-bottom: 40px; 
  font-family: Sans-Serif;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;

}

.jumbotron h1 {
	text-align: center;
	color: white;
	font-size: 60px;
}

body {
  background-color: white;
}

p {
  font-family: Sans-Serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#messagesDiv {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
}

.inputForm {
	text-align: center;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  width: 70%;
  margin-bottom:20px;
  font-size: 20px;
}

.button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #129793;
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
}

.button:hover {
    background-color: #129793; /* Teal */
    color: white;
}