<!DOCTYPE html>
<html>

<head>
<title>MESSAGES FUKC YEAH</title>
  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
</head>

<body>
	<div class="jumbotron">
  <h1>Messages????????</h1>
  </div>

  <div class="inputForm"><input type='text' id='messageInput' placeholder='Message'></div>
  <div id="messagesDiv"></div>

  <script>
  	var myDataRef = new Firebase('https://intense-heat-8090.firebaseio.com/')
  	$('#messageInput').keypress(function (e) {
  		if (e.keyCode == 13) {
  			var text = $('#messageInput').val();
  			myDataRef.push({text: text});
  			$('#messageInput').val('');
  		}
  		})
  		myDataRef.on('child_added', function(snapshot) {
        var message = snapshot.val();
        displayChatMessage(message.text);
      });
      function displayChatMessage(text) {
        $('<div/>').text(text).appendTo($('#messagesDiv'));
        $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
      };
      function clearData() {
      	myDataRef.remove();
      	$("#messagesDiv").empty();
      }
    </script>
    <p> </p>
    <div class="inputForm"><button class="button" onclick="clearData()">Clear Messages</button></div>
</body>

</html>